# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs / data
logs/
data/*.json

# IDEs
.vscode/
.idea/
